@import url(https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap);
*{scroll-behavior:smooth;}
body{
font-family: open sans,roboto, sans-serif;
line-height:1.625;
  font-size: 15px;
  color: #444;
  margin: 0;
  background-color: #efe9e9;
}

.rewards a:link,
  .rewards a:visited {
    color: #0066ff; /* Deep blue for unvisited and visited links */
    text-decoration: none;
  }

  .rewards a:hover,
  .rewards a:active {
    color: #ffcc00; /* Gold for hovered and active links */
    text-decoration: underline;
  }

.custom-nav-link {
    color: #ffffff !important;
  }
  .custom-nav-link:hover {
    color: #ffcc00 !important;
  }
  
  .custom-footer-link {
  color: #ffffff !important;
  }
  .custom-footer-link:hover {
  color: #ffcc00 !important;
  }