{{ define "main" }}
<div class="container mt-4">
    <!-- Convert the tag title to title case and display in h1 -->
    <h2 class="mb-4">{{ .Title | title }}</h2>

    <div class="row">
        <!-- Loop through all pages associated with the tag -->
        {{ range .Pages }}
            <div class="col-md-6 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <a href="{{ .RelPermalink }}">
                            <h5 class="card-title">{{ .Title }}</h5>
                        </a>
                        <p class="post-meta text-secondary mt-2">
                            <span class="post-date">Published on {{ .Date.Format "2 January 2006" }}</span>
                            {{ if .Params.author }}
                                <span class="post-author">by {{ .Params.author }}</span>
                            {{ end }}
                        </p>

                        <!-- Display up to 30 characters of content -->
                        <p class="card-text">
                            {{ if eq .File.Path "content/_index.md" }}
                                {{ .Content | plainify | truncate 160 "..." }}
                            {{ else }}
                                {{ .Summary | plainify | truncate 160 "..." }}
                            {{ end }}
                        </p>

                        <div class="text-right">
                            <a href="{{ .RelPermalink }}" class="btn btn-primary btn-sm">Claim Now</a>
                        </div>
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
</div>
{{ end }}