<footer class="bg-primary text-white py-4">
  <div class="container text-center">
    <p>Copyright &copy; <script type='text/javascript'>document.write(new Date().getFullYear())</script> | <a href="{{ .Site.BaseURL }}/" class="text-white"><b>Wizard of Oz Free Coins</b></a>. All Rights Reserved.</p>
    <p>
      <a href="{{ .Site.BaseURL }}/about" class="custom-footer-link">About</a> |
      <a href="{{ .Site.BaseURL }}/contact/" class="custom-footer-link">Contact</a>
    </p>
  </div>
</footer>